<section id="footer">
    <div class="p-4"></div>
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="container">
                <div class="p-3"></div>
                   <h1 class="display-4">
                       Contact Us
                   </h1>
                   <div class="p-2"></div>
                   <p class="lead">
                        <!-- #TODO change to client tel#  -->
                    Tel:<a href="tel:604-123-456" class="contact-info">604-123-456</a>
                   </p>
                   <p class="lead">
                    Email:<a href="mailto:smartchoicep@yahoo.com" class="contact-info">smartchoicep@yahoo.com</a>
                    </p>
               </div>    
            </div>
            <div class="col">
               <!-- Logo and Motto -->
               <div class="brand-logo">
                    <img src="images/logos/logo - Edited (2).png" class="img-fluid" alt="">
                    <p class="lead">
                        Smart Choice Painting is a full service painting company. We are proud to offer superior customer service and professional workmanship.
                    </p>
               </div>
            </div>
            <div class="col">
               <!-- Social Media -->
               <div class="social">
                <div class="p-2"></div>
                <h1 class="display-4">
                    Connect With Us
                </h1>
                <ul>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                </ul>
               </div>
            </div>
        </div>
        <div class="p-2"></div>
    </div>    
</section>
<div class="p-2"></div>
<div class="container-fluid">
    <div class="col copyright" id="bg-green">
        <p class="txt">
            HSI - Themes <span>© 2020. All rights reserved.</span>
        </p>
    </div>
</div>
 
 
 
 <!--scripts -->
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/32fb37abc5.js" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
 <script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>
 <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
 <script src="js/site.js"></script>
 
</body>
</html>