<nav class="navbar navbar-expand-md navbar-light">
  <a href="#" class="navbar-brand">
    <img src="images/logos/logo.png" width="140" height="140" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7" aria-controls="navbar7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-stretch" id="navbar7">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">RESIDENTIAL</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">COMMERCIAL</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
          </li>
        </ul>
  </div>
</nav>
