/*------------------*
# Site Styles
*------------------*/
/*------------------*
# Colors
*------------------*/
$grey-var:#cbcbcb;
$gold-var:#bcb892;
$white:#ffff;
$teal-var:#406870;
$teal-var-2:#789499;
$border-color-caption:rgb(120, 148, 153);
$rgb-opacity:rgba(255, 255, 255, 0.6);
$bg-btn: rgb(255, 255, 255);
$btn-color:rgb(64, 104, 112);
$btn-border-color:rgba(255, 255, 255, 0);
$blue-var:#F0F4F7;
$dark-green-var:#142733;

// Navbar
.navbar {
    .navbar-collapse {
        text-align: center;
    }
    .navbar-toggler {
        color: transparent !important;
        border-color: transparent !important;
        &:focus {
            outline-color: transparent !important;
        }
    }
}

// Scroll to top Button 
#toTop {
    background: linear-gradient(to right, #406870 50%,#bcb892 50%) no-repeat scroll right bottom / 201% 100% #406870;
    border: none;
    border-radius: 0px;
    border-color: $dark-green-var;
    bottom: 40px;
    color: $white;
    cursor: pointer;
    // display: none;
    font-size: 26px;
    outline: none;
    right: 20px;
    position: fixed;
    right: 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: color;
    z-index: 3000;
    width: 50px;
    height: 50px;
    &:hover,
    &:focus {
        color: $dark-green-var;
        background: $white;
    }
}

/* Zooming entrances */
@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  .animate__zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

/* Zooming exits */
@-webkit-keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 0;
    }
  }
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 0;
    }
  }
  .animate__zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    animation-duration: .25s;
    animation-fill-mode: both;
  }



.nav-item {
    padding: 1.03em 1.5em;
}
.nav-link {
    background-color: $white;
    color: $teal-var !important;
    letter-spacing: 0.3px;
    line-height: 20.93px;
    font-size: 13px;
    font-weight: 700;
    &:hover {
        color:$gold-var !important;
        transition: all 0.3s ease;
    }
}

.slider-heading {
    font-size: 62px !important;
    text-align: center;
    line-height: 83px;
}

.pb-icon {
    ::before{
        opacity: 0.7 !important;
    }
}

// Carousel

.slider-caption {
    border-color: $border-color-caption;
    color: $rgb-opacity;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.btn-color {
    background-color: $bg-btn;
    border-color: $btn-border-color;
    color: btn-color;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-top: 1rem;
    padding: 1.2rem 4rem !important;
    text-transform: uppercase;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    transition: all 0.3s ease !important;
    &:hover {
        background:$gold-var !important;
        color: $white;
    }
}

#jc-img-1 {
    background-image: url('../../images/job-cards/card-1.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
#jc-img-2 {
    background-image: url('../../images/job-cards/card-2.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
#jc-img-3 {
    background-image: url('../../images/job-cards/card-3.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.card {
    border: none !important;
}
.card-body{
    .card-title{
        color:$white;
        font-size: 36px;
        padding-top: 1.5em;
        padding-left: 1.5em;
        text-align: center;
    }
    .card-text {
        color: $white;
        padding: 2em;
        margin-left: 25%;
        max-width: 58%;
        text-align: center;

    }
}



.lead {
    color: $teal-var;
    font-size: 16px;
    line-height: 27px;
    opacity: 0.8 !important;
    text-align: left;
    word-wrap: break-word !important;
    max-width: 50%;
    margin-bottom: 40px;
}

#jumbo-bg {
    background: url('../../images/jumbotron/bg-jumbo.jpg') center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    .display-4 {
        color: $teal-var;
        word-wrap: break-word !important;
        max-width: 50%;
    }
}

.fa-calendar-check,
.fa-swatchbook,
.fa-leaf {
    &::before {
        font-size: 42px;
        line-height: 1em;
        color: $gold-var;
        padding: 1rem;
    }
}

.icons-text {
        color: $teal-var;
        font-size: 18px;
        text-align: center !important;
        width: 100%;
}

#bg-green {
    background-color: $teal-var-2;
    .display-4 {
        color: $white;
        padding: 2rem 0 0 0;
        text-align: center;
        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 50%;
            padding-top: 20px;
            border-bottom: 4px solid $gold-var;
        }
    }
    .lead {
        color: $white;
        padding: 1rem 0 0 0;
        font-size: 16px;
        line-height: 27px;
        opacity: 0.8 !important;
        text-align: center;
        max-width: 100%;
    }
}

// Projects //
#light-gallery {
    .display-4 {
        color: $teal-var;
        word-wrap: break-word !important;
        max-width: 100%;
        text-align: center;
        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 50%;
            padding-top: 20px;
            border-bottom: 4px solid $gold-var;
        }
    }
}


// Get a free quote //
.get-quote {
    .form-control {
        border: $gold-var !important;
        color: $teal-var !important;
    }
    .display-4 {
        color: $teal-var;
        word-wrap: break-word !important;
        max-width: 80%;
        padding: 4rem 0 0 4rem;
        text-align: center;
        &::after {
            content: "";
            display: block;
            margin: 0 0 0 10px;
            width: 10%;
            padding-top: 25px;
            border-bottom: 4px solid $gold-var;
        }
    }
    .col-6 {
        padding-left: 0;
        padding-right: 0;
    }
    #bg-blue {
        background: $blue-var;
    }
    #textarea {
        padding-left: 0;
    }
    .btn{
        background: $dark-green-var !important;
        color: $white !important;
        font-family: 'Source Sans Pro';
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.6px;
        margin-top: 1rem;
        padding: 10px 3rem !important;
        text-transform: uppercase;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-origin: 50% 50% 0px;
        transition: all 0.3s ease !important;
    }
}

// Footer //
#footer {
    .display-4 {
        color: $teal-var;
        font-size: 2rem !important;
    }
    .lead {
        color: $gold-var;
        margin-bottom: 0;
        padding: 5px;
        max-width: 100%;
        .contact-info {
            color: $teal-var;
            padding-left: 1rem;
            &:hover{
                color: $teal-var-2;
                text-decoration: none;
            }
        }
    }
    .brand-logo{
        text-align: center !important;
        .lead{
            color: $dark-green-var !important;
            text-align: center !important;
        }
    }
    .social {
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            li {
                color: $teal-var;
                font-size: 2rem !important;
                padding: 1.5rem;
            }
            .fa-instagram,
            .fa-twitter,
            .fa-facebook-f {
                &::before {
                    font-size: 2rem;
                }
            }
        }
    }
}
.container-fluid {
    padding: 0;
}
.copyright {
    .txt {
        color: $white !important;
        margin-bottom: 0 !important;
        padding: 10px !important;
        text-align: center !important;
        span {
            color: $dark-green-var !important;
        }
    }
}

